body {
  margin: 20px;
  width: 410px;
}

.button{
  display: inline-block;
  background-color: #68B25B;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  color: white;
  float: left;
}

.button:hover{
  background-color: #85C07B;
  color: white;
}

/* Formatting the other colored squares */
.row1 div{
  background-color: #85C07B;
  width: 300px;
}


.divide{
  background-color: #85C07B;
  color: black;
}

.multiply{
  background-color: #85C07B;
  color: black;
}

.subtract{
  background-color: #85C07B;
  color: black;
}

.add{
  background-color: #85C07B;
  color: black;
}
