body {
  margin: 20px;
  width: 500px
}

div {
  float: left;
  color: white;
  font-size: 30px;
}

.button:hover{
  background-color: #85C07B;
  color: white;
}

.button{
  display: inline-block;
  background-color: #68B25B;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.row1 div.answer{
  background-color: #85C07B;
  width: 302px;
}


.divide{
  background-color: #85C07B;
  color: black;
}

.multiply{
  background-color: #85C07B;
  color: black;
}

.subtract{
  background-color: #85C07B;
  color: black;
}

.add{
  background-color: #85C07B;
  color: black;
}
